/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';
@import './post.css';

html {
	@apply bg-gray-100 font-body font-light;
}

@screen md {
	max-width: 9rem;
}

.max-w-2xs {
	max-width: 8rem;
}

.next-shadow + button {
	margin-left: -10px;
}
.next-shadow:focus + button {
	@apply shadow-md;
}
